<h1>Hotel Awesome!</h1>
<p>Welcome, you can log in or register</p>
<button onclick="window.location.href='/welcome/login'">Log In</button>
<button onclick="window.location.href='/users/new'">Register</button>
<button onclick="window.location.href='/users'">All users list</button>